
### Folders

/**/incremental_db
/**/output_files
/**/simulation
/**/synthesis
/**/synthesis_output
/**/db
/**/devkits

/**/*.v
/**/*.json
/**/*.bak
/**/*.rpt
/**/*.qdf
/**/*.DS_store
/**/*.sv.bak

.DS_Store
