
### Folders

/**/incremental_db
/**/output_files
/**/simulation
/**/synthesis
/**/synthesis_output
/**/db
/**/devkits

/**/*.qpf
/**/*.v
/**/*.json
/**/*.bak
/**/*.rpt
/**/*.qdf
/**/*.sv.bak

